* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myBackground {
  background-color: #E4FFEF;
}

.myImage{
  width: 250px;
}

.myPara {
  font-family: Helvetica;
  font-size: 18px;
}

.myCol {
  color: #65C68E ;
}

.myBorder {
  border: solid #7EFFB5;
}

.myBg {
  color: #B7FFE6;
}

.text-center {
  text-align:center!important;
}

.blog-header-logo {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  font-size: 2.25rem;
}

.text-muted {
  color: #6c757d!important;
}

.p-2 {
  padding: 0.5rem!important;
}

.carousel-inner {
  max-height: 500px;
  min-height: 500px;
}
